<!DOCTYPE html>
<!--[if IE 7 ]><html class="ie ie7 lte9 lte8 lte7" lang="en-US"><![endif]-->
<!--[if IE 8]><html class="ie ie8 lte9 lte8" lang="en-US">	<![endif]-->
<!--[if IE 9]><html class="ie ie9 lte9" lang="en-US"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="noIE" lang="en-US">
<!--<![endif]-->
	<head>
		<!-- meta -->
			<meta http-equiv="X-UA-Compatible" content="IE=edge">
			<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no"/>
		<title>SPARROW</title>

		<link rel="stylesheet" href="static/css/bootstrap.min.css">
		<link rel="stylesheet" href="static/css/ionicons.min.css">
		<link rel="stylesheet" href="static/css/owl.carousel.css">
		<link rel="stylesheet" href="static/css/owl.theme.css">
	    <link rel="stylesheet" href="static/css/main.css">
	    <link rel="stylesheet" href="static/css/about.css">
	    <link rel="stylesheet" href="static/css/contact.css">
	    <link rel="stylesheet" href="static/css/service.css">
	    <link rel="stylesheet" href="static/css/one-page-style.css">
	    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
			<!--[if lt IE 9]>
				<script src="assets/js/html5shiv.js"></script>
				<script src="assets/js/respond.js"></script>
			<![endif]-->

			<!--[if IE 8]>
		    	<script src="assets/js/selectivizr.js"></script>
		    <![endif]-->
	</head>
<body data-spy="scroll" data-target="#bs-example-navbar-collapse-1">

<!-- Home -->
	<section class="header" id="header">
		
		<nav class="navbar navbar-default" id="navigation-bar">
			<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="index-one-page.html">SPARROW</a>
				</div> <!-- /.navbar-header -->

		    <!-- Collect the nav links, forms, and other content for toggling -->
			    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="#header">Download App</a></li>
						<li><a href="#about">Be A Vendor</a></li>
						<li><a href="#service">Join Us</a></li>
						<li><a href="#portfolio">Start</a></li>
						<li><a href="#contact">contact</a></li>
					</ul> <!-- /.nav -->
			    </div><!-- /.navbar-collapse -->
		  	</div><!-- /.container -->
		</nav>
		<div class="container">
			<div class="header-table">
				<div class="header-wrapper">
					<h1 class="header-title">
						Explore the World 
							<br> Around You In Real Time
					</h1>
					<p class="header-subtitle">
						A Real World around Search Engine to explore everything Live <br> right now. Uncover amazing deals, events, and <br> opportunities.
					</p>
					<div class="app-icons">
						<a href='#'>
							<img 
								class= "apple"
								src="https://tools.applemediaservices.com/api/badges/download-on-the-app-store/black/en-us?size=250x83&amp;releaseDate=1276560000&h=7e7b68fad19738b5649a1bfb78ff46e9" 
								alt="Download on the App Store">
						</a>
						<a href='#'>
							<img 
								class="android" 
								alt='Get it on Google Play' 
								src='https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png' />
						</a>
					</div>
					<div class = "astronut-1">
						<!-- <img class="phone-img-one" src="../static/images/astronut-1.png" alt="">  -->
					</div>
					<div class="iphone-1">
						<img class="phone-img-one" src="../static/images/iphone-1.png" alt=""> 
					</div>
					
					
				</div> <!-- /.header-wrapper -->

			</div>
		</div> <!-- /.container -->
	</section> <!-- /#header -->

	{% block content %}
    {% endblock content %}
</body>
</html>	
 
  
