{% extends 'base.html' %}

{% block content %}

<!-- About -->
<section class="about" id="about">
    <div class="container">
        <div class="about-table">
            <div class="about-wrapper">
                <h1 class="about-title">
                    Discover everything <br> happening around you in <br> real time
                </h1>
                <div class ="map-logos">
                    <!--pizza review-->
                    <img class="pizza-img" src="../static/images/pizza-logo.png" alt="">
                    <img class="pizza-arrow" src="../static/images/pizza-arrow.png" alt="">
                    <img class="pizza-review" src="../static/images/pizza-review.png" alt="">
                    <!--sword-1 review-->
                    <img class="sword-img-1" src="../static/images/sword-logo-2.png" alt="">
                    <img class="sword-1-arrow" src="../static/images/sword-1-arrow.png" alt="">
                    <img class="sword-1-review" src="../static/images/sword-1-review.png" alt="">
                    <!--bus-1 review-->
                    <img class="bus-img" src="../static/images/bus-logo.png" alt="">
                    <img class="bus-arrow" src="../static/images/bus-arrow.png" alt="">
                    <img class="bus-review" src="../static/images/bus-review.png" alt="">
                     <!--patagonia review-->
                     <img class="patagonia-img" src="../static/images/patagonia-logo-2.png" alt="">
                     <img class="patagonia-arrow" src="../static/images/patagonia-arrow.png" alt="">
                     <img class="patagonia-review" src="../static/images/patagonia-review.png" alt="">
                     <!-- <h1 class="patagonia-title" src="../static/images/patagonia-sale.png" alt="">  -->
                    <!--sword-2 review-->
                    <img class="sword-img-2" src="../static/images/sword.png" alt="">
                    <img class="sword-2-arrow" src="../static/images/sword-arrow-2.png" alt="">
                    <img class="sword-2-review" src="../static/images/sword-review-2.png" alt="">
                    <!--pickup review-->
                    <img class="pickup-img" src="../static/images/pickup-logo.png" alt="">
                    <img class="pickup-review" src="../static/images/pickup-review.png" alt=""> 
                     <!--Fair review-->
                     <img class="fair-img" src="../static/images/fair.png" alt="">
                     <img class="fair-review" src="../static/images/fair-review.png" alt="">  
                     <!--map review-->
                     <img class="map-review-img" src="../static/images/map-review.png" alt="">
                     <img class="map-review" src="../static/images/map-review-2.png" alt="">
                </div>
            </div> <!-- /.about-wrapper -->
        </div>
    </div> <!-- /.container -->
</section> <!-- /#about -->


<!--    Join Us -->
<section class="joinus" id="joinus">
    <div class="container">
        <div class="joinus-table">
            <div class="joinus-wrapper">
                <h1 class="joinus-title">
                   Incubated and Built at MIT
                </h1>
                <p class="joinus-subtitle">
                    We are on a mission to revolutionize the way people explore and <br> discover the world around them. As a group of MIT students, we <br> realized that there were always so many amazing things <br> happening around us, but we often missed out because there <br> was simply too much information to keep track of. 

                <p class ="joinus-subtitle-2">
                    That's why we decided to take matters into our own hands and <br> build a tool that would allow us to search everything happening <br> in real-time, in the real world.
                </p>
                </p>
                <div class="join-btn">
                    <a href="../images/button.png" class="img-button"></a>
                    <!-- <a href="../images/live-map1.png" class="live-map1"></a> -->
                <div class="MIT">
                    <img class="sandbox-img" src="../static/images/sandbox.png" alt="">
                    <img class="corps-img" src="../static/images/corps.png" alt="">
                    <div class = "astro-pg-3">
                        <img class="astronut-cloud" src="../static/images/astro-cloud.png" alt=""> 
                        <img class="astronut-game" src="../static/images/astronut-game.png" alt="">
                        
                    </div>
                </div><!-- JOIN US BUTTON-->
                </div> <!-- BOTTOM IMAGES-->
            </div> <!-- /.header-wrapper -->
            <div class="asronut-moon">
                <img class="astro-moon" src="../static/images/page-3-astro.png" alt="">  
            </div>

           
        </div>
    </div> <!-- /.container -->
</section> <!-- /#header -->

<!-- Footer -->
<section class="footer" id="footer">
    <div class="container">
        <div class="footer-table">
            <div class="footer-wrapper">
                <h1 class="footer-title">
                    Boom shakalak! <br> Let's Explore. 
                    <a href="../images/final-live-map.png" class="img-button"></a> 
                </h1> 
            <p class="footer-privacy">
                Privacy Policy | Terms of Service | Cookie Policy | About Us
            </p>
            </div> <!-- /.footer-wrapper -->
            <div class="phone-footer-1">
                <img class="phone-footer" src="../static/images/phone-footer.png" alt="">
            </div>
        </div>
    </div> <!-- /.container -->
</section> <!-- /#footer-->

{% endblock content %}


