{% extends 'base.html' %}

{% block content %}

<!-- About -->
<section class="about" id="about">
    <div class="container">
        <div class="about-table">
            <div class="about-wrapper">
                <h1 class="about-title">
                    Discover everything <br> happening around you in <br> real time
                </h1>
            </div> <!-- /.about-wrapper -->
        </div>
    </div> <!-- /.container -->
</section> <!-- /#about -->


<!--    Join Us -->
<section class="joinus" id="joinus">
    <div class="container">
        <div class="joinus-table">
            <div class="joinus-wrapper">
                <h1 class="joinus-title">
                   Incubated and Built at MIT
                </h1>
                <p class="joinus-subtitle">
                    We are on a mission to revolutionize the way people explore and <br> discover the world around them. As a group of MIT students, we <br> realized that there were always so many amazing things <br> happening around us, but we often missed out because there <br> was simply too much information to keep track of. 

                <p class ="joinus-subtitle-2">
                    That's why we decided to take matters into our own hands and <br> build a tool that would allow us to search everything happening <br> in real-time, in the real world.
                </p>
                </p>
            </div> <!-- /.header-wrapper -->
            <!-- JOIN US BUTTON-->
            <a href="../images/button.png" class="img-button"></a>
        <!-- IMAGES AT BOTTOM -->
        <div class="MIT">
            <img 
                class= "sandbox-img"
                src="../images/sandbox.png" 
                alt=" ">

            <img 
                class="corps-img" 
                alt='' 
                src="../images/corps.png" />
                
        </div>
        </div>
    </div> <!-- /.container -->
</section> <!-- /#header -->

<!-- Footer -->
<section class="footer" id="footer">
    <div class="container">
        <div class="footer-table">
            <div class="footer-wrapper">
                <h1 class="footer-title">
                    Boom shakalak! <br> Let's Explore. 
                </h1>
            </div> <!-- /.footer-wrapper -->
        </div>
    </div> <!-- /.container -->
</section> <!-- /#footer-->

{% endblock content %}


