/*=================================================
||				1. Imports 
==================================================*/
@import url(http://fonts.googleapis.com/css?family=Inter:200,400,700);
@import url(http://fonts.googleapis.com/css?family=Inter+Slab);

body
{
	font-family: 'Roboto', 'Open-Sans', sans-serif;
	overflow-x: hidden;
	color: #313131;
}
.black{
	color: #313131;
}
.white{
	background: #fff ;
}
.purple{
	background: #4a148c;
}
.section-wrapper{
	padding-top: 90px;
	padding-bottom: 80px;
}
.section-title{
	font-size: 30px;
	font-weight: 400;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 2px;
}
.section-item-title{
	font-size: 20px;
	font-weight: 400;
	letter-spacing: 3px;
	text-transform: uppercase;
}
.section-item-detail{
	font-size: 14px;
    font-weight: 300;
    margin-bottom: 50px;
    color: #999;
    letter-spacing: .39px;
}
.underline{
	height: 2px;
	width: 50px;
	margin: 0px auto 60px;
}
/*=================================================
||				3. Header
==================================================*/
.header
{
	background: 
	url('../images/background-stars1.png');
	/* url('../images/ezgif 7.png') ;  */
	background-repeat: repeat;
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
	height: 100vh;
	color: #fff;
	

}

.backg {
background:url('../images/ezgif 7.png');
background-repeat: repeat;
z-index: 1;
}
			/*navbar*/
/* .navbar-default .navbar-brand{
	border: 1px solid #fff;
	color: rgb(246, 5, 5);
	font-size: 30px;
	padding: 10px 20px;
	height: auto;
	font-weight: 500;
	letter-spacing: 5px;
} */
 .navbar-default .sparrow-logo {
	/* border: 1px solid #fff; */
	/* color: rgb(246, 5, 5); */
	justify-content: left;
		top: 20px;
		left: 20px;
		display: flex; 
		height: 180%;
		width: 10%;
		position:absolute;
} 

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover{
	color: #fff;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFF;
}
.navbar-fixed-top .navbar-toggle .icon-bar {
    background-color: #313131;
}
.navbar-fixed-top .navbar-toggle{
	border-color: #313131;
}
.navbar-default {
    background-color: transparent;
    border-color: transparent;
    padding-top: 50px;
}
.navbar-default .navbar-nav>li>a{
	color: #fff;
    /*text-transform: uppercase;*/
    padding-right: 20px;
    padding-left: 20px;
    border: 1px solid transparent;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
}
.navbar-default .navbar-toggle{
	border-radius: 0px;
}
.navbar-default .navbar-nav>li>a:hover{
	border: 1px solid rgba(255, 255, 255, 0.6);
	color: #fff;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
	color: #fff;
}
.navbar-nav>li>a {
    padding-top: 8px;
    padding-bottom: 8px;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
	background: transparent;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.6);
    color: #fff;
}
	Home
	.header-wrapper{
		text-align: left;
		/* display: flex;
		vertical-align: middle; */
		position: relative;
	}
	.header-table{
		display: flex;
		flex-direction: column;
		/* grid-template-columns:1fr 1fr;
		grid-gap: 5px; */
		/* align-items: right;  */
		height: 586px;
		width: 80%;
	}
	.header-title{
		font-family: 'Inter';
		font-style: normal;
		font-size: 50px;
		line-height:  50px;
		font-weight: 900;
		top:120px;
		position: relative;
	}

	.real-time{
		display: flex; 
		flex-direction: row; 
		/* font-size: 5px; */
		position: absolute; 
		width: 18%;
		height: 12px; 
		left: 390px;
		/* padding-left:300px ; */
		/* justify-content: right; */
 
		/* width: 50px; */
  		/* height: 5px; */
	}

	.header-subtitle{
		font-size: 20px;
		font-family: 'Inter';
		font-style: normal;
		font-weight: 300;
		letter-spacing: 1px;
		display: flex;
		align-items: center;
		position: relative;
		top:120px;

	}

	.app-icons {
		display: flex;
		align-items: center;
		position: relative;
		top:160px;
	  }

	  
	.android {
		width: 164px;
	}
	.apple {
		width: 130px;
	}
	
	/** Astronuts page 1 **/

	/** Iphone one **/
	.phone-imge {
		/* position: absolute; */
		justify-content: right;
		top: 5;
		right: 0;
		display: flex; 
		height: 50%;
		width: 180%;
		position:relative;
	}
				
    .phone-img-one {
		height:180%;
		width: 20%;
		/* padding-right: 80px;
		padding-bottom: 20px;  */
		 bottom: 280px; 
		 right: 460px;
		 position:relative;
	} 

	.astro-img-one{
		height: 43%;
		width: 5%;	
		/* justify-content: center; */
		right: 430px;  
		bottom: 180px; 
		/* top:500px; */
		position:relative;  
	}

	.new-img-one{
	height: 15%;
	width: 5%;	
	/* left: 400px;
	bottom: 300px; */
	position: relative;
	right: 408px;
	bottom: 230px;
	/* padding-left: 160px;
	padding-bottom: 60px;  */
	/* padding-right: 300px; */

	}
	 
	 
/** astronut bottom **/
	.astro-pages{
		/* justify-content: right; */
		/* top: 5;
		right: 0; */
		display: flex; 
		height: 100%;
		width: 100%;
		/* position:absolute; */
		bottom:0;
		/* justify-content: left; */
		left: 0;
		/* position: relative; */

	}
	.astro-img-top1{
		/* display: inline-flex;  */
		height: 80%;
		width: 22%;	
		/* justify-content: center; */
		/* right: 930px;    */
		bottom: 580px;  
		right:350px;
		position:relative; 

	}
	.astro-left-bot{
		position:relative;
		height: 80%;
		width: 25%;	
		bottom:100px;
		right:105px;
	}

	.astro-mid{
		/* display: inline-flex;  */
		height: 95%;
		width: 32%;	
		/* justify-content: center; */
		left: 230px;  
		bottom: 230px;
		position:relative; 
	}

	
	.astro-bottom-right{
		/* display: inline-flex;  */
		height: 15%;
		width: 15%;	
		/* justify-content: center; */
		right: 40px; 
		bottom:100px;
		position:absolute; 
	}

	.start-arrow{
		/* display: inline-flex;  */
		height: 18%;
		width: 8%;	
		/* justify-content: center; */
		right: 450px; 
		bottom:190px;
		position:absolute; 

	}


	/*=================================================
||				2. About
     ==================================================*/
	 .about
	 {
		 background: url('../images/map-background.png');
		 background-repeat: no-repeat;
		 background-position: center center;
		 background-size: cover;
		 background-attachment: fixed;
		 height: 100vh;
		 color: rgb(9, 9, 9);
		 align-items: center;
		 /* text-transform: uppercase; */
	 
	 }
			 /*Home*/
	 .about-wrapper{
		 text-align: center;
		 display: table-cell;
		 vertical-align: middle;
		 position: relative;
	 }
	 .about-table{
		 display: table;
		 height: 70vh;
		 width: 90%;
	 }
	 .about-title{
		font-size: 45px;
		letter-spacing: 1px;
		font-weight: 900;
		top:75px;
		left: 80px;
		font-family: 'Inter';
		font-style: bold;
		position:inherit;
	 }

	 /**map logo pizza **/
	 .map-logos{
		/* justify-content: right; */
		/* top: 5;
		right: 0; */
		display: flex; 
		height: 100%;
		width: 20%;
		position:absolute; 
		/* bottom:0; */
		/* justify-content: left; */
		/* left: 0; */
		/* z-index: 1; */
	 }


	.pizza-img{
		/* display: inline-flex;  */
		height: 14%;
		width: 69%;	
		/* justify-content: center; */
		/* right: 930px;    */
		bottom: 820px;  
		left:840px;
		position:absolute; 
	}

	.pizza-arrow{
		/* display: inline-flex;  */
		height: 5%;
		width: 15%;	
		/* justify-content: center; */
		/* right: 930px;    */
		bottom: 880px;  
		left:830px;
		position:absolute; 
	}

	.pizza-review{
		/* display: inline-flex;  */
		height: 10%;
		width: 70%;	
		/* justify-content: center; */
		/* right: 930px;    */
		bottom: 870px;  
		left:685px;
		position:absolute; 
	}

	/** sword review **/
	.sword-img-1 {
		/* display: inline-flex;  */
		height: 18%;
		width: 45%;	
		/* justify-content: center; */
		/* right: 930px;    */
		bottom: 650px;  
		right:280px;
		position:absolute;  
	}
	
	.sword-1-arrow{
		/* display: inline-flex;  */
		height: 3%;
		width: 20%;	
		/* justify-content: center; */
		/* right: 930px;    */
		bottom: 715px;  
		right: 259px;
		position:absolute; 
	}

	.sword-1-review{
		/* display: inline-flex;  */
		height: 11%;
		width: 80%;	
		/* justify-content: center; */
		/* right: 930px;    */
		bottom: 700px;  
		right: 90px;
		position:absolute; 
	}

/** bus review **/
.bus-img {
	/* display: inline-flex;  */
	height: 12%;
	width: 65%;	
	/* justify-content: center; */
	/* right: 930px;    */
	bottom: 810px;  
	left:300px;
	position:absolute;  
}

.bus-arrow{
	/* display: inline-flex;  */
	height: 8%;
	width: 20%;	
	/* justify-content: center; */
	/* right: 930px;    */
	bottom: 880px;  
	left: 310px;
	position:absolute; 
}

.bus-review{
	/* display: inline-flex;  */
	height: 10%;
	width: 70%;	
	/* justify-content: center; */
	/* right: 930px;    */
	bottom: 880px;  
	left: 160px;
	position:absolute; 
}

/** Patagonia review **/
.patagonia-img {
	/* display: inline-flex;  */
	height: 17%;
	width: 55%;	
	/* justify-content: center; */
	/* right: 930px;    */
	bottom: 280px;  
	right:260px;
	position:absolute;  
}

.patagonia-arrow{
	/* display: inline-flex;  */
	height: 3%;
	width: 25%;	
	/* justify-content: center; */
	/* right: 930px;    */
	bottom: 400px;  
	right:250px;
	position:absolute; 
}

.patagonia-review{
	/* display: inline-flex;  */
	height: 10%;
	width: 70%;	
	/* justify-content: center; */
	/* right: 930px;    */
	bottom: 375px;  
	right: 105px;
	position:absolute; 
}

.patagonia-sale{
	/* display: inline-flex;  */
	height: 5%;
	width: 10%;	
	/* justify-content: center; */
	/* right: 930px;    */
	bottom: 280px;  
	left: 155px;
	position:absolute; 
}

	/** sword-2-review **/
	.sword-img-2 {
		height: 16%;
		width: 45%;	
		/* justify-content: center; */
		/* right: 930px;    */
		bottom: 800px;  
		left:1130px;
		position:absolute;
	}
	
	.sword-2-arrow{
		/* display: inline-flex;  */
		height: 6%;
		width: 15%;	
		/* justify-content: center; */
		/* right: 930px;    */
		bottom: 770px;  
		left:1125px;
		position:absolute; 
	}

	.sword-2-review{
		/* display: inline-flex;  */
		height: 10%;
		width: 75%;	
		/* justify-content: center; */
		/* right: 930px;    */
		bottom: 700px;  
		left:1020px;
		position:absolute; 
	}

		/** pickup-review **/
		.pickup-img{
			/* display: inline-flex;  */
		height: 9%;
		width: 90%;	
		/* justify-content: center; */
		/* right: 930px;    */
		bottom: 180px;  
		left:475px; 
		position:absolute;  
}	
		.pickup-review{
			/* display: inline-flex;  */
			height: 10%;
			width: 69%;	
			/* justify-content: center; */
			/* right: 930px;    */
			bottom: 230px;  
			left:360px;
			position:absolute; 
		}

		/** Fair-review **/
	.fair-img {
		/* display: inline-flex;  */
		height: 12%;
		width: 50%;	
		/* justify-content: center; */
		/* right: 930px;    */
		bottom: 180px;  
		left:1060px;
		position:absolute;  
	}

	.fair-review{
		/* display: inline-flex;  */
		height: 9%;
		width: 73%;	
		/* justify-content: center; */
		/* right: 930px;    */
		bottom: 215px;  
		left:905px;
		position:absolute; 
	}

	/** map-review **/
	.map-review-img{
		/* display: inline-flex;  */
	height: 20%;
	width: 100%;	
	/* justify-content: center; */
	/* right: 930px;    */
	bottom: 410px;  
	left:1005px; 
	position:absolute;  
}	

	.map-review{
		height: 11%;
		width: 75%;	
		/* justify-content: center; */
		/* right: 930px;    */
		bottom: 440px;  
		left:845px;
		position:absolute; 
	}
	 /*=================================================
||				3. Join Us
     ==================================================*/
	 .joinus
	 {
		 /* background: url('../images/map-background.png'); */
		 background-repeat: no-repeat;
		 background-position: center center;
		 background-size: cover;
		 background-attachment: fixed;
		 height: 100vh;
		 color: rgb(0, 0, 0);
	 
	 }
			 /*Home*/
	 .joinus-wrapper{
		 text-align: left;
		 display: table-cell;
		 vertical-align: middle;
		 position: relative;
	 }
	 .joinus-table{
		 display: table;
		 height: 100%;
		 width: 100%;
	 }
	 .joinus-title{
		top: 80px;  
		font-size: 40px;
		height: 10%;
		width: 80%;
		 /* letter-spacing: 1px; */
		font-weight: 1000;
		font-family: 'Inter';
		font-style: bold;
		position: relative;
	 }

	 .joinus-subtitle{
		position: inherit;
		font-size: 18px;
		font-family: 'Inter';
		font-style: normal;
		font-weight: 300;
		letter-spacing: 1px;
		display: flex;
		align-items: center;
		color: rgb(45, 7, 51);
		top: 130px;

		

	}

	.joinus-subtitle-2{
		position: relative;
		top:150px;
		font-size: 18px;
		font-family: 'Inter';
		font-style: normal;
		font-weight: 300;
		letter-spacing: 1px;
		display: flex;
		align-items: center;
		color: rgb(45, 7, 51);

	}

	/*** button **/
	/* Container needed to position the button. Adjust the width as needed */

	.img-button {
		display: flex;
		background-image: url('../images/button.png');
  		width: 98px;
  		height: 28px;
  		/* padding: 5px; */
  		 background-size: cover; 
 	 	background-position: left;
		top:165px;
		position: relative;
	}
	.image-button:hover {
   background-image: url('../images/button.png');
	}


/** images **/
	.MIT {
	display: flex;
	align-items: center; 
	height: 50%;
	top: 170px;
	position: relative;
	
  	}

  
	.sandbox-img {
		height: 20%;
		width: 20%;
		margin-right: 20px;
	}
	
	
	.corps-img{
		height: 20%;
		width: 20%; 
	} 

	/** astronut images page 3 **/
	.astro-pg-3{
		justify-content: right;
		bottom: 0;
		right: 0;
		display: flex; 
		height: 100%;
		width: 190%;
		bottom: 100px;
		position:relative; 
	} 

	.astronut-game{
		height: 50%;
		width: 45%; 
		bottom: 20px;
		left:200px;
		top:90px;
		/* bottom:5px; */
		/* padding-right: 180px; */
		/* padding-top: 100px; */
		position: inherit; 
	 } 

	 .astronut-cloud{
		height: 120%;
		width: 30%;
		/* padding-bottom: 100px;   */
		bottom:250px;
		left:320px; 
		position: relative;
		/* padding-left: 50%; */
		/* top: 0px;  */
	 }

	.astronut-moon{
		height: 80%;
		width: 180%;
		display: flex; 
		position:relative; 
		text-align: right;
		/*padding-bottom: 100px; */
		/* top:15px;
		right:0px;
		position: absolute;  
		/* padding-left: 50%;
		top: 0px; */
	} 

	.astro-moon{
		height: 180%;
		width: 100%;
		top:200px;
		left:305px; 
		position:relative; 
		/*padding-bottom: 100px; */
		/* top:15px;
		right:0px;
		position: absolute;  
		/* padding-left: 50%;
		top: 0px; */
	} 
/*=================================================
||				4.Footer
     ==================================================*/
	 .footer
	 {
		 background: url('../images/background_first.png');
		 background-repeat: no-repeat;
		 background-position: center;
		 background-size: cover;
		 background-attachment: fixed;
		 height: 100vh;
		 color: rgb(255, 255, 255);
		 
	 
	 }
			 /*Home*/
	 .footer-wrapper{
		 text-align: center;
		 display: table-cell;
		 vertical-align: middle;
		 position: relative;
	 }
	 .footer-table{
		 display: table;
		 height: 50%;
		 width: 100%;
	 }
	 .footer-title{
		font-size: 50px;
		width: 200%;
		height: 50%;
		letter-spacing: 2px;
		font-weight: 1000;
		font-family: 'Inter';
		font-style: bold;
	 }
	 .phone-footer{
		/* justify-content: right; */
		/* bottom: 0; */
		left: 100px;
		display: flex; 
		height: 80%;
		width: 80%;
		bottom: 120px;
		position:relative;  
	 }

	

	
	 

	 .footer-privacy{
		font-size: 12px;
		width: 300%;
		height: 5%;
		letter-spacing: 5px;
		font-family: 'Inter';
		top: 100px;
		left: 150px;
		/* text-align: center; */
		position: relative;
		font-weight: 500;
	 }